body {
  background-color: antiquewhite;
}

.navbar-nav .nav-link:hover {
  background-color: #ff8100;
}

.bg-dark30 {
  background-color: #bcbcbc;
}

.bg-dark69 {
  background-color: #424147;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hover-bg-dark50:hover {
  background-color: rgba(121, 118, 121, 0.6);
}